@import 'tailwindcss';
@plugin "@tailwindcss/forms";


@layer components {
  .btn-primary {

    background-color: var(--color-blue-700);
    border-radius: var(--radius-xl);
    padding-inline: --spacing(3);
    padding-block: --spacing(2.5);
    width: fit-content;
    color: var(--color-white);
    text-align: center;

    &:is(:hover, :focus) {
      background-color: var(--color-blue-900);
    }
  }

  .btn-secondary {
    background-color: var(--color-gray-200);
    border-radius: var(--radius-xl);
    padding-inline: --spacing(3);
    padding-block: --spacing(2.5);
    width: fit-content;
    color: var(--color-black);
    text-align: center;

    &:is(:hover, :focus) {
      background-color: var(--color-gray-300);
    }
  }
}

.dropzone-valid-file {
  border-color: var(--color-green-900);
  background-color: hwb(from var(--color-green-300) h w b / 0.35);
}

.dropzone-not-valid-file {
  border-color: var(--color-red-900);
  background-color: hwb(from var(--color-red-900) h w b / 0.15);

}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}